<html>
<header>
  <title>Party Buying</title>
  <link rel="stylesheet" type="text/css" href="./css/style.css">
</header>
<body>
  <div class="header">
    <h1>Party Buying - WebApp<h1>
  </div>
  <div ng-app="" ng-controller="groupController" class="main">
    <div class="gruppi">
      <h3>Grouppi di spesa</h3>
      <table>
        <tr>
          <th>Nome</th>
          <th>Costo</th>
          <th></th>
        </tr>
        <tr ng-repeat="(key,item) in group">
          <td>
            <input type="text" ng-model="item.name">
          </td>
          <td>
            <input class="prezzo" type="number" step="0.01" ng-model="item.price" ng-change="calculate();">
          </td>
          <td class="icon">
            <img ng-src="./img/minus1.png" ng-click="removeGroup(key)"/>
          </td>
        </tr>
        <tr>
          <td colspan="3">Totale spesa: {{ total | currency:'&euro;' }}</td>
        </tr>
        <tr>
          <td colspan="3" class="icon">
            <img ng-src="./img/plus1.png" ng-click="addGroup()"/>
          </td>
        </tr>
      </table>
    </div>

    <br/>
    <div class="persone">
      <h3>Persone</h3>
      <table>
        <tr>
          <th>Nomi</th>
          <th ng-repeat="item in group" ng-bind="item.name" ng-hide="item.name==''"></th>
          <th>Costo</th>
          <th></th>
        </tr>
        <tr ng-repeat="(pKey,p) in people">
            <td><input ng-model="p.name"> </td>
            <td ng-repeat="(itemKey,item) in group" ng-hide="item.name==''">
              <input type = "checkbox" ng-model="p.groups[itemKey]" ng-change="calculate()">
            </td>
            <td ng-bind="p.price | currency:'&euro;'"></td>
            <td class="icon">
              <img ng-src="img/minus1.png" ng-click="removePerson(pKey)" />
            </td>
        </tr>
        <tr>
          <td colspan="200">Totale persone: {{ people.length }}</td>
        </tr>
        <tr>
          <td colspan="200", class="icon">
            <img ng-src="./img/plus1.png" ng-click="addPerson()"></img>
          </td>
        </tr>
      </table>

    </div>
      <!--
      <p ng-repeat="x in people">
        <span ng-bind="x.name"></span>
        <span ng-bind="x.price"></span>
        {{ x.groups }}
        <p ng-repeat="p in (x.groups)">
          <span ng-bind="p"></span>
        </p>
      </p>
    <button ng-click="calculate()">calcola</button>
  -->
  </div>
  <script src="./main.js"></script>
  <script src="./lib/angular.min.js"></script>
</body>
</html
